@import "../../styles/_config";

.OurProducts {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xxxl;
  text-align: center;
  background-color: $background-our-products;

  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    line-height: 1.75;
  }

  &__seeMore {
    text-decoration: underline;
    color: $hyperlink;
    font-weight: 700;
    font-size: 13.6px;
    cursor: pointer;
  }

  & > * {
    margin: $spacing-l;
  }
}
