@import "../../styles/_config";

.AboutUs {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xxxl;
  text-align: center;
  background-color: $background-about-us;

  & > * {
    margin: $spacing-l;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    line-height: 1.75;
  }

  &__logo {
    border-radius: 50%;
  }
}
